.card-image {
    width: 280px;
    height: 380px;
}

.card-title {
    text-align: center;
    font-weight: 600;
    font-size: large;
    margin-top: 15px;
    margin-bottom: 8px;
}

.card-director {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}

.fav-icon {
    margin-left: 25px;
    font-weight: bolder;
}

.button-actions {
    margin-left: 20%;
}